{% extends '@layout/default.html.twig' %}

{% block title %}All Grades{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body" style="width:25%;margin:auto;text-align:center">
                    <h2>Select Year: </h2>
                    <select class="form-control" id="years">
                    <option>Year</option>
                        {% for year in years %}
                                <option value="{{year.getUuid().toString()}}">{{year.getYear()}}</option>
                        {% endfor %}
                    </select> 
                    <br>

                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">Class</th>
                                <th scope="col">Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for grade in grades %}
                                <tr>
                                    <td>
                                        <h6><b> {{ grade.getClassId().getYear().getYear() }} </b></h6>
                                    </td>
                                    <td>
                                        <h6><b> {{ grade.getClassId().name }} </b></h6>
                                    </td>
                                    <td>
                                        <h6><b> {{ grade.grade }} </b></h6>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>     
                </div>
            </div>
        </div>
    </div><!--/.row-->

{% endblock %}
